.cards{
    &__container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px,auto));
        grid-template-rows: repeat(auto-fit,minmax(150px,auto));
        gap: 60px;
        justify-content: center;

    }

}